/* ===================================================
   * 個人資料
   * =================================================== */
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba($primary-color, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem;
    transition: all 0.3s ease;
  
    svg {
      color: $primary-color;
      font-size: 5rem;
      transition: all 0.3s ease;
    }
  
    &:hover {
      background-color: rgba($primary-color, 0.15);
      transform: scale(1.05);
  
      svg {
        color: $primary-color-dark;
      }
    }
  }

  