$primary-color: rgb(151, 125, 6);
$secondary-color: #ccc;
$text-color: #333;

//圖片樣式
.object-cover {
  object-fit: cover;
}

//去除link標籤預設底線樣式
.link {
  text-decoration: none;
}

//navbar
.sticky-top.show {
  top: 0;
}

.sticky-top.hide {
  top: -100px; /* 根據 NavBar 的高度調整這個值 */
}

//index Banner
.index-banner {
  height: 100vh;
}
.index-banner .img-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.index-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.img-container__inf {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.fa-angles-down {
  animation: bounce 2s infinite;
}

.index-banner h2 {
  writing-mode: vertical-lr;
  transition: all 0.3s ease-in;
  font-size: 1.8rem;
  &:hover {
    transform: scale(1.2);
  }
}
.index-banner--transition {
  transform: scale(1);
  transition: all 1s ease-out;
  overflow: hidden;
}

//index content-section
.index-content-section .card-img-top {
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.4rem;
  &:hover {
    border: 3px solid rgb(209, 218, 217);
  }
}

.index-content-section__text,
.carousel-section__text,
.index-list-section__text,
.season-section {
  opacity: 0;
}

.index-content-section {
  overflow: hidden;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-left {
  animation: slide-in-left 0.8s ease-out forwards;
}

.slide-out-left {
  animation: slide-out-left 0.8s ease-out forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slide-in-right 0.8s ease-out forwards;
}

.slide-out-right {
  animation: slide-out-right 0.8s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

//index list-section
.index-list-section {
  .slick-slider {
    width: 100%;
    overflow: hidden;
  }

  .index-list-section__img {
    width: 300px;
    height: 400px;
    border-radius: 2%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;

    &:hover {
      background-color: black;
      opacity: 0.8;
      .index-list-section__inf {
        transform: translate(0px, -40px);
      }
    }
  }

  .index-list-section__inf {
    color: white;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10%;
    transform: translate(0px, 60px);
    transition: all 0.4s ease-in-out;
    background-color: black;
    opacity: 0.8;
  }
}

//Carousel-img
.carousel-section__text {
  writing-mode: vertical-rl;
  max-height: 400px;
}

//footer
.footer .footer__about:hover {
  color: #ced4da;
}

.product-head-list__title {
  color: black;
  padding: 1rem 3rem;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 5px;
  &:hover {
    background-color: white;
    color: rgb(126, 104, 7);
  }
}

.product-head-list__title.active {
  background-color: $primary-color;
  color: white;
}

.tour {
  .tour__name {
    color: black;
  }
  .tour__price {
    color: black;
    font-size: 1.2rem;
  }
}

//side-bar
.side-link .link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  &:hover {
    color: $primary-color;
  }
  h4,
  h5 {
    font-size: 1rem;
  }
}

//TravelSearchForm
.travel-search-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: space-between;

    &:last-of-type {
      justify-content: center;
    }
  }

  &__group {
    flex: 1;
    min-width: 150px;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 0.25rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23999' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;

    &:focus {
      border-color: #80bdff;
      outline: none;
      box-shadow: 0 0 0 0.1rem $primary-color;
    }
  }

  &__button {
    padding: 0.7rem 3.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: white;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  .react-datepicker-popper {
    z-index: 2;
  }

  .react-datepicker {
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .react-datepicker__header {
    background-color: $primary-color;
    color: #fff;
  }

  .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: #fff;
  }

  .react-datepicker__day--selected {
    background-color: $primary-color;
    color: #fff;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: $primary-color;
    color: #fff;
  }
}

//TravelCalendar
.travel-calendar {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 10px;

    .prev-month-container {
      flex-basis: 20%;
      text-align: right;
    }

    .current-month-container {
      flex-basis: 60%;
      text-align: center;
    }

    .next-month-container {
      flex-basis: 20%;
      text-align: left;
    }

    .prev-month,
    .next-month {
      background-color: transparent;
      border: none;
      color: #333;
      cursor: pointer;
      font-size: 18px;
    }

    .current-month {
      font-weight: bold;
      color: white;
    }
  }

  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 10px;

    .day-name {
      font-weight: bold;
      text-align: center;
      padding: 5px 0;
    }

    .day-cell {
      background-color: #f2f2f2;
      text-align: center;
      padding: 10px 0;
      cursor: pointer;

      &.selected {
        background-color: $primary-color;
        color: #fff;
      }

      &:hover {
        background-color: #e6e6e6;
      }

      &.past-date {
        background-color: #f2f2f2;
        color: #999;
        cursor: not-allowed;
      }

      &.adjacent-month-date {
        background-color: #e0e0e0;
        color: #b0b0b0;
      }
    }
  }
}

//productDeatail
.tour-daily {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
}

.tour-daily-route {
  font-weight: bold;
  font-size: 1.2rem;
}
.tour-content img {
  object-fit: cover;
  height: 100%;
}

//CartNavigator
.cart-navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .progress-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      position: relative;
      margin-bottom: 3rem;

      .progress-icon {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        color: $primary-color;
      }

      .progress-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $secondary-color;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        z-index: 1;
        position: relative;

        &.active {
          background-color: $primary-color;
          color: #fff;
        }
      }

      .progress-line {
        height: 4px;
        background-color: $secondary-color;
        flex-grow: 1;
        margin: 0 5rem;

        &.active {
          background-color: $primary-color;
        }
      }

      .progress-label {
        font-size: 14px;
        color: $text-color;
        margin-top: 1rem;
      }
    }
  }
}

//cart
.cart__section__icon {
  font-size: 16rem;
}

//login
.login-title {
  padding: 1.5rem 0;
  background-color: black;
  opacity: 0.7;
}

//ServiceLocation
.service-location-container {
  padding: 2rem;
  background-color: #f5f5f5;

  .location-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    .location-info {
      h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      p {
        color: #666;
        line-height: 1.6;
      }
    }

    .location-map {
      margin-top: 2rem;
    }
  }
}

//information
.faq-container {
  font-family: "Roboto", sans-serif;
  padding: 4rem 2rem;

  .faq-section {
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .faq-item {
      border: 1px solid #e5e5e5;
      border-radius: 8px;
      margin-bottom: 1rem;

      .faq-header {
        background-color: #f5f5f5;
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h3 {
          font-size: 1.2rem;
        }

        .toggle-icon {
          font-size: 1.5rem;
          font-weight: bold;
          transition: transform 0.3s ease;
        }
      }

      .faq-content {
        padding: 1.5rem;
        display: none;

        p {
          color: #666;
          line-height: 1.6;
        }
      }

      &.active {
        .faq-header {
          .toggle-icon {
            transform: rotate(45deg);
          }
        }

        .faq-content {
          display: block;
        }
      }
    }
  }
}

//contactUs
.contact-us-background {
  background: url("https://images.unsplash.com/photo-1612343281188-d6954aa692fa?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center fixed;
  background-size: cover;
  padding: 2rem;
}

.contact-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  opacity: 0.9;
}

.contact-us-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-us-form {
  .form-group {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    textarea {
      resize: vertical;
      height: 150px;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(151, 125, 6);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: white;
      color: rgb(151, 125, 6);
      border: 1px solid $primary-color;
    }
  }
}
